<!--This will not work until we have set up online database portion, however I will leave instructions here
    We also need to set up an route to this from routes/index.js to pass the rows from database into this
    page.
​
    for example
​
    router.get('/books', function(req, response, next) {
    // client object enables issuing SQL queries
    db.collection('book').find().toArray(function(err, result){
        if (err) {
            next(err);
        }
        console.log(result);
        response.render('books',{rows: result});
        });
    });
    Explanation: Given if you have an table in mongodb database called book, you can  find nthis database
    make it into an array. We can send it through to this handlebars
​
    so where is says response.render('books',{rows: result});
    it would need to be changed to response.render('stockView',{rows: result});
​
    we need to connect to database in app.js
-->

<h1 class="center" name='username'>Hello {{User}}!</h1>
<br>
<button id="logout">Logout</button>

<main class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-4 whiteBox"> <!--change this to update stock-->
      <form id="stockSubmit" action='/submit' method='POST'>
        <h2>Add Stock Information</h2>
          Stock Symbol<br>
          <input type="text" id="symbol" placeholder="XXX Symbol" name='symbol'><br>
          <br>Amount Bought<br>
          <input type="text" id="amount" placeholder="Ex. 10" name='amount'><br>
          <br>Price Per Stock<br>
          <input type="text" id="price" placeholder="Ex. 100.13" name='price'><br><br>
          <input type="submit" id="submit">
      </form> <br>
    </div> <!--we need to an action to this so that is calls an post method to send to server-->
    ​
    <!--
    <div class="col-lg-4">
      <form id="stockUpdate" action='/update' method='POST'>
        <h2>Update Stock Information</h2>
          <input type="text" id="symbol" placeholder="Symbol" name='symbol'> Stock Symbol<br><br>
          <input type="text" id="amount" name='addAmount'> Amount Bought<br> <br>
          <input type="text" id="price" name='addPrice'> Price Per Stock<br><br>
          <input type="submit" id="submit">
      </form> <br>
    </div> -->
    <div class="col-lg-2"></div>

    <div class="col-lg-4 whiteBox">
      <form id="Delete Stock" action='/del' method='POST'>
        <h2>Delete Stock Information</h2>
          Stock Symbol<br>
          <input type="text" id="symbol" placeholder="XXX Symbol" name='symbol'> <br><br>
          Amount Remove<br>
          <input type="text" id="amount" placeholder="Ex. 10" name='amount'> <br><br>
          <input type="submit" id="submit">
      </form> <br>
    </div>
     <!--we need to an action to this so that is calls an post method to send to server-->
     <div class="col-lg-1"></div>
  </div>
​</main>

<form id="Update Stock" action='/update' method='POST'>
  <input type='submit' id='submit'>
</form>

​<div id="error" name="error">{{error}}</div>

<h2 class="center">My Stock Data</h2>
​
<table id="myTable">
  <thead>
  <tr><th class="center">Symbol</th><th class="center">Prices</th><th class="center">Quantity</th><th class="center">percentInterest</th></tr>
  <!--we need to add fifth column which is estimate profit -->
</thead>
<tbody>
{{#each rows}}
<!--the variable names in the double curly brackets need to match the variable names from the database
    for example.
    db.book.insertOne(
    {author: "Stephen King", title: "Misery", published: "1988-01-01", pages:300, language: "en"}
    )
    This is an database instruction to add this entry into an book table
    if we were to use this in this page the variable name nin the curly brackets would need to be
    <tr><td> {{ author }}</td>
      <td> {{ title }}</td>
      <td> {{ published }}</td>
      <td> {{ pages }}</td>
      <td> {{ language }}</td>
    </tr>
​
    notice how the variable names in the curly brackets match the key value pairs from the database,
    it matches the key.
-->
  <tr>
      <td class="center"> {{ stock }}</td>
      <td class="center"> {{ prices }}</td>
      <td class="center"> {{ quantity }}</td>
      <td class="center"> {{ percentInterest }}</td>
      <!--we need to use javascript to add more rows here-->
  </tr>


{{/each}}
</tbody>
</table>



​
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
var error = $("#error");
error.css("color", "red");
$(document).ready(function(){
    $('#myTable').DataTable();

    $("#logout").click(function(){
      location.replace("/login");
    });
});
</script>
