<h1 class="center" name='username'>Hello {{User}}!</h1>
<br>
<form id='logout' action='/auth/logout' method='GET'>
<button id="logout">Logout</button>
</form>
<main class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-4 whiteBox"> <!--change this to update stock-->
      <form id="stockSubmit" action='/submit' method='POST'>
        <h2>Add Stock Information</h2>
          Stock Symbol<br>
          <input type="text" id="symbol" placeholder="XXX Symbol" name='symbol'><br>
          <br>Amount Bought<br>
          <input type="text" id="amount" placeholder="Ex. 10" name='amount'><br>
          <br>Price Per Stock<br>
          <input type="text" id="price" placeholder="Ex. 100.13" name='price'><br><br>
          <input type="submit" id="submit">
      </form> <br>
    </div>
    ​
    <div class="col-lg-2"></div>

    <div class="col-lg-4 whiteBox">
      <form id="Delete Stock" action='/del' method='POST'>
        <h2>Delete Stock Information</h2>
          Stock Symbol<br>
          <input type="text" id="symbol" placeholder="XXX Symbol" name='symbol'> <br><br>
          Amount Remove<br>
          <input type="text" id="amount" placeholder="Ex. 10" name='amount'> <br><br>
          <input type="submit" id="submit">
      </form> <br>
    </div>
     <div class="col-lg-1"></div>
  </div>
​</main>

<form id="Update Stock" action='/update' method='POST'>
  <input type='submit' value="Update Percent Change" id='submit'>
</form>

​<div id="error" name="error">{{error}}</div>

<h2 class="center">My Stock Data</h2>
​
<table id="myTable">
  <thead>
  <tr><th class="center">Symbol</th><th class="center">Average Price</th><th class="center">Quantity</th><th class="center">Percent Change</th></tr>
</thead>
<tbody>
{{#each rows}}
  <tr>
      <td class="center"> {{ stock }}</td>
      <td class="cellPrices"> {{ prices }}</td>
      <td class="center"> {{ quantity }}</td>
      <td class="cellPercent"> {{ percentInterest }} %</td>
      <!--we need to use javascript to add more rows here-->
  </tr>

{{/each}}
</tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
var error = $("#error");
error.css("color", "red");
$(document).ready(function(){
    var cells = $(".cellPercent");
    for (i = 0 ; i < cells.length; i++) {
      console.log(cells[i].html);
      if (parseFloat(cells[i].innerHTML) > 0) {
        var cell = document.getElementsByClassName("cellPercent")[i];
        cell.innerHTML = "+" + parseFloat(cell.innerHTML.trim()).toFixed(2);
        cell.style.color = "green";
      } else {
        var cell = document.getElementsByClassName("cellPercent")[i];
        cell.innerHTML = parseFloat(cell.innerHTML.trim()).toFixed(2);
        cell.style.color = "red";
      }
    }
    var priceCells = $(".cellPrices");
    for (i = 0 ; i < priceCells.length; i++) {
      var cell = priceCells[i];
      cell.innerHTML = parseFloat(cell.innerHTML.trim()).toFixed(2);
    }
    $('#myTable').DataTable();
});
</script>
